###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache/*
/var/log/*
/var/storage/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/storage/.gitkeep
!var/storage/cars.csv
/vendor/
/.idea/
###< symfony/framework-bundle ###
